<app-profile-page *ngIf="selectedClient" [client]="selectedClient">
</app-profile-page>

<div class="container mx-auto mt-8">
  <div class="bg-white rounded-lg shadow-md p-6">
    <h2 class="text-3xl font-semibold mb-4 text-gray-800">Client Management</h2>

    <div
      *ngIf="successMessage"
      class="bg-green-100 text-green-700 p-3 rounded-md mb-4"
    >
      {{ successMessage }}
    </div>

    <!-- Add New Client Button -->
    <div class="flex justify-end mb-4">
      <a
        routerLink="create/client"
        class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        >Add New Client</a
      >
    </div>

    <div *ngIf="clients && clients.length > 0">
      <!-- Pagination, Sorting, etc. controls -->
      <div class="flex justify-between items-center mb-4">
        <!-- Size Control -->
        <div>
          <label for="sizeSelect" class="mr-2">Size:</label>
          <select
            id="sizeSelect"
            [(ngModel)]="pageSize"
            (change)="changePageSize($event)"
            class="border rounded px-2 py-1"
          >
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
          </select>
        </div>

        <!-- Page Control -->
        <div>
          <button
            (click)="prevPage()"
            [disabled]="currentPage === 0"
            class="px-2 py-1 rounded border mr-2"
          >
            Previous
          </button>
          <span>{{ currentPage! + 1 }}</span>
          <button
            (click)="nextPage()"
            [disabled]="clients.length < pageSize! || flag"
            class="px-2 py-1 rounded border ml-2"
          >
            Next
          </button>
        </div>

        <!-- Sort Control -->
        <div>
          <label for="sortSelect" class="mr-2">Sort by:</label>
          <select
            id="sortSelect"
            [(ngModel)]="sortField"
            (change)="changeSort($event)"
            class="border rounded px-2 py-1"
          >
            <option value="createdAt,desc">Date Newest</option>
            <option value="createdAt,asc">Date Oldest</option>

            <option value="firstName,asc">First Name A-Z</option>
            <option value="firstName,desc">First Name Z-A</option>
            <option value="lastName,asc">Last Name A-Z</option>
            <option value="lastName,desc">Last Name Z-A</option>
            <!-- here add more options as needed -->
          </select>
        </div>
      </div>

      <!-- Client Table -->
      <div class="overflow-x-auto overflow-y-auto" style="max-height: 400px">
        <table
          class="min-w-full bg-white border border-gray-300 shadow-md rounded-md"
        >
          <!-- Table headers -->
          <thead>
            <tr class="bg-gray-100">
              <th class="py-2 px-4 border-b border-r text-left"></th>

              <th class="py-2 px-4 border-b border-r text-left">First Name</th>
              <th class="py-2 px-4 border-b border-r text-left">Last Name</th>
              <th class="py-2 px-4 border-b border-r text-left">Email</th>
              <th class="py-2 px-4 border-b border-r text-left">Region</th>

              <th class="py-2 px-4 border-b text-left">Created At</th>
              <th class="py-2 px-4 border-b text-left">Actions</th>
            </tr>
          </thead>
          <!-- Table body -->
          <tbody>
            <tr *ngFor="let client of clients" class="hover:bg-gray-50">
              <td class="py-2 px-4 border-b border-r">
                <img
                  src="http://localhost:8080/api/{{
                    client?.image
                      ? 'clients/uploads/' + client?.image
                      : 'images/no-pic.png'
                  }}"
                  alt="profile picture"
                  class="h-20 w-20 rounded-full m-auto"
                />
              </td>
              <td class="py-2 px-4 border-b border-r">
                {{ client.firstName | titlecase }}
              </td>
              <td class="py-2 px-4 border-b border-r">
                {{ client.lastName | titlecase }}
              </td>
              <td class="py-2 px-4 border-b border-r">{{ client.email }}</td>
              <td class="py-2 px-4 border-b border-r">
                {{ client.region.name }}
              </td>

              <td class="py-2 px-4 border-b">
                {{ client.createdAt | date : "dd/MM/yyyy" }}
              </td>
              <td class="py-2 px-4 border-b">
                <div class="flex items-center">
                  <a
                    (click)="openClientModal(client)"
                    class="text-green-500 hover:text-green-600 mr-2 cursor-pointer"
                  >
                    View
                  </a>
                  <a
                    [routerLink]="['create/client', client.id]"
                    class="text-blue-500 hover:text-blue-600 mr-2"
                  >
                    Edit
                  </a>
                  <a
                    class="text-red-500 hover:text-red-600 mr-2 cursor-pointer"
                    (click)="deleteClient(client)"
                  >
                    Delete
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div *ngIf="!clients || clients.length === 0">
      <p class="text-gray-600">No records yet.</p>
    </div>
  </div>
</div>
